body{
    min-width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.buttons{
    margin-top: .5vh;
    margin-bottom: 4vh;
    display: flex;
    flex-direction: row;
    justify-content: center;

    width:100vw;
    height: 4vh;

    button{
       margin-right: 1vw;
       margin-left: 1vw;
       width: 12vw;
       height: 7vh;
       color: white;
       background-color: transparent;
       border: solid .3vh white;
       cursor: pointer;
   
       font-family: 'Hammersmith One', sans-serif;
       font-size: 5vh;
   
       transition: color 300ms, background 300ms;

       &:hover{
           color: #14FFF7;
           background-color: white;
           transition: color 300ms, background 300ms;
       }

   }

   select{
       
       align-self: center;
       width: 12vw;
       background: transparent;

       border: .3vh solid white;
       height: 7vh;

       cursor: pointer;

       text-align: center;
       font-size: 5vh;
       color: white;
       margin-left: 1vw;
       margin-right: 1vw;

   }

   select::-ms-expand { display: block; }


    option{
       color: black;
    }
}
 
 .container{
     width: 50vw;
     height: 55vh;
     background-color: rgba($color: #ffffff, $alpha: .7);
     border: .25 solid white;
     border-radius: .4vw;
     display: flex;
     flex-direction: column;
     align-items: center;
     

     

     

     

 }
 
 .number-holder{
     display: flex;
 }

 .number{
     background: #7C77B9;
     width: 2.6vw;
     margin-right: .095vw;
     margin-top: .05vh;
     display: flex;
     justify-content: center;
     p{
        font-family: 'Hammersmith One', sans-serif;
        color: white;
     }
}

@media (max-width: 1025px){

    .buttons{
        width: 100vw;
        height: 2vh;
        button{
            width: 26vw;
            height: 5vh;
            font-size: 5vw;
        }

        select{
            height: 5vh;
            width: 26vw;
            font-size: 5vw;
        }
    }

    .container{
        width: 80vw;
        margin-top: 5vh;
       
    }

    .number{
        margin-right: .4vw;
    }
    
}